body {
  font-family: "Mitr", sans-serif;
}
.intro {
  background: linear-gradient(to right, #6039fa, #ff00ff);
  border-radius: 20% 80% 0% 100% / 40% 0% 100% 60%;
  max-width: 50%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 0%;
}
.intro img {
  max-width: 100%;
  position: relative;
  top: 50px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar-inverse {
  background-color: transparent;
}

.nav-link {
  color: rgb(10, 10, 10) !important;
  font-size: 1.2rem;
}

.navbar-scrolled {
  background-color: #333;
}
.nav-item .active {
  background-color: #8383fb !important;
  border-radius: 1px solid #000000;
  border-radius: 25px;
}
/* .nav-item{
  
} */

.nav-item:not(:first-child):not(:last-child) {
  margin: 0rem 0.3rem;
}

.navbar-brand {
  font-family: "Bungee Inline", cursive;
  /* color: white !important;*/
  font-size: 3rem;
}

.navbar-toggler {
  background-color: rgb(41, 230, 255);
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: white;
}

.dropdown-menu {
  /* background-color: #000080; /* shade of blue */
  color: white;
  border-bottom: 2px solid white;
}
.dropdown-item {
  color: white;
}
